@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-video);
}

:root {
  --color-main: #50d2c1;
  --color-title-white: #f6fefd;
  --color-txt-white: #d1d4dc;
  --color-bg-black: #111a1e;
  --color-border-black: #474747;
  --color-green: #4cbf87;
  --color-red: #ef5350;
  --color-lightgray: #d1d4dc;
  --color-gary: #949e9c;
}

@layer base {
  input[type="text"]:not(:disabled) {
    @apply !bg-transparent;
  }

  input,
  .no-outline {
    @apply outline-none focus:outline-none focus-visible:outline-none;
  }
}

@layer components {
}

@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.highcharts-credits {
  display: none !important;
}

.now-msg {
  animation-name: now-msg;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  top: 44px;
}

@keyframes now-msg {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sc-gZMcBi.dUwNNA {
  height: 40px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #474747;
}

img {
  -webkit-user-drag: none; /* Safari 和 Chrome */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* IE/Edge */
  user-drag: none;
}
